{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "angular": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"],
          ["lib", "./lib/angularjs-store.min.js"]
        ]
      },
      "extensions": [".js"]
    }
  }
}
