.vscode
.ts_cache*
coverage
images
node_modules
src
tasks
typings
.gitattributes
.gitignore
.prettierrc
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
gulpfile.js
jest.config.js
jest.setup.js
tsconfig.json
tslint.json
yarn-error.log
yarn.lock
