group-a {
  @extend .card;
  padding: map-get($spacers, 3);

  h5:first-child {
    margin-bottom: map-get($spacers, 4);
  }

  .table-wrapper {
    margin-left: - map-get($spacers, 3);
    margin-right: - map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
  }

  .table tr td:first-child {
    padding-left: map-get($spacers, 3);
  }

  .table tr td:last-child {
    padding-right: map-get($spacers, 3);
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .group-components {
    display: flex;
    align-items: flex-start;
    margin-left: - map-get($spacers, 2);
    margin-right: - map-get($spacers, 2);
  }
}
